@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.889);

    --section-gap: 160px;
}

:root {
    --color-background: var(--vt-c-white);
    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: var(--vt-c-divider-light-2);
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    --color-text: var(--vt-c-text-light-1);

    --background-gradient-color: #8EC5FC;
    --background-gradient-image: linear-gradient(62deg, #8EC5FC 0%, #c297ea 100%);

    --dark-transparent: rgba(50, 50, 50, .3);
    --dark-transparent-darker: rgba(50, 50, 50, .4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);

        --background-gradient-color: #024a93;
        --background-gradient-image: linear-gradient(62deg, #034540 0%, #72207C 100%);

        --dark-transparent: rgba(50, 50, 50, .4);
        --dark-transparent-darker: rgba(50, 50, 50, .5);
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body,
#app,
html {
    color: var(--color-text);
    height: 100%;
    overflow: hidden;
}

body {
    background-color: var(--background-gradient-color);
    background-image: var(--background-gradient-image);
    background-size: 500% 500%;
    animation: gradient 15s ease infinite;
     font-family: 'Nunito', Helvetica, Arial, sans-serif;
}

* {
    animation: fadeInFromNone 0.2s ease-out;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s;
}